html, body {
    height: 100%;
}






* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:black;
    color:white;
    font-family: 'IBM Plex Sans', sans-serif;
}

#map {
    height: 100%;
    /* width: 100%; */
}

a:link {
    text-decoration: none;
    color: white;
}

.state-btn {
    background-color: black;
    border-color: white;
    
}

header {
    padding: 30px 50px 30px 15px;
    background-color:black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* webkit for Safari */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9998;
}

li {
    list-style-type: none;
}

.form-inline {
    padding: 0px 0px 0px -1px;
}


/* .card {

    background-color:black;
} */
