a:link {
    text-decoration: none;
    color: white;
}

.state-btn {
    background-color: black;
    border-color: white;
    
}

header {
    padding: 30px 50px 30px 15px;
    background-color:black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* webkit for Safari */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9998;
}

li {
    list-style-type: none;
}

.form-inline {
    padding: 0px 0px 0px -1px;
} 




#map {
    height: 500px;
    width: 100%;
    
}