*{
    background-color: rgb(147, 164, 182);
    color: white;
}
.container-fluid h1 {
    font-size: 45px;
text-align: center;
}
.container-fluid {
    font-size: 15px;
    text-align: center;
    color: white;
}
.about {
   text-align: left;
    justify-content: space-between;
    list-style: none;
    padding: 10px;
    font-weight: normal;
    font-size: 15px;
    color: white;
    border-radius: 15px;
    text-shadow: none;
  }
  .input-group{
      background-color: lightgray;
      color:white;
  }
  .searchButton {
      background-color: blue;
      color: rgb(251, 251, 253);
  }
 

 .col-sm-8 {
    background-color: rgb(255, 255, 255);
 }