*{
    background-color: rgb(66, 66, 55);
    color: white;
}
.container-fluid h1 {
    font-size: 45px;
text-align: center;
}
.container-fluid {
    font-size: 15px;
    text-align: center;
    color: white;
}
.about {
   text-align: left;
    justify-content: space-between;
    list-style: none;
    padding: 10px;
    font-weight: normal;
    font-size: 15px;
    color: white;
    border-radius: 15px;
    text-shadow: none;
  }
  .input-group{
      background-color: lightgray;
      color:white;
  }
  .searchButton {
      
    position: relative;
    left:50px;
    background-color: #12aedd;
    display:block;
    margin: 20px 0px 0px 20px;
    text-align: center;
    border-radius: 12px;
    border: 2px solid #13ecec;
    padding:14px 110px;
    outline: none;
    color: white;
    cursor: pointer;
    transition: 0.25px;
    
  }
 
.google{
    margin-top:0;
    margin-bottom: 2;
}
 .col-sm-7 {
    background-color: rgb(255, 255, 255);
    padding: 10px 10px 10px 10px;
 }
 .pie{

     left:300px;
     width: 700px;
    height: 700px;
     
 }

