* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'IBM Plex Sans', sans-serif;
}

.site-title {

    padding-top: 10px;
    padding-left: 20px;
} 

#map {
    height: 500px;
    width: 100%;
    
}

.navbar-text {

    color: black;
    padding-left: 10px;

}

.date-picker {

    border-color: black;

}

#map-container * {

    background-color: initial;
    
}

